#container {
	width: 690px;
	margin: 15px auto;
}

body {
	background-image: url(https://d1f5hsy4d47upe.cloudfront.net/10/101763dd6f047af58fe8bca0d6597eda_t.jpeg);
	background-position: center center;
	background-size: cover;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}

p {
	text-align: center;
}

table {
	width: 590px;
	margin: auto;
}

a:hover {
	color: #ff7043;
}

#a_div {
	margin-top: 15px;
	text-align: center;
}

.a_div {
	margin-top: 15px;
        text-align: center;
}

#login_user {
	text-align: right;
	margin-right: 50px;
}

#form {
	margin: 0 auto;
	width: 500px;
}

.search {
	margin: auto;
	border-radius: 5px;
	width: 290px;
}

#sort {
	width: 150px;
	margin-left: 500px;
}

.search_result {
	margin: 0 auto 15px;
}

.user_input {
	margin-right: 0px;
}

.column {
	text-align: center;
	margin: 0 auto;
}

.btn_div {
	text-align: center;
}

.btn {
	font-weight: bold;
        background-color: #248;
        color: #fff;
        border-style: none;
        border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #24d;
}

.user_btn_div {
	text-align: right;
}

.user_btn {
	font-weight: bold;
        background-color: #333;
        color: #fff;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
}

.user_btn:hover {
        background-color: #666;
}

.comment_box {
        border-radius: 5px;
	width: 290px;
	height: 200px;
}
